@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    overflow-x: hidden;
}

.roundups-container {
    width: 90%;
    margin: 20px auto 30px auto;
    padding: 40px;
    border-radius: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.roundups-title {
    font-size: 36px;
    margin-bottom: 30px;
    color: #333;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.filter {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.filter-label {
    font-size: 18px;
    margin-bottom: 12px;
    color: #555;
}

.input-field,
.select-field {
    width: 200px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #fff;
    transition: background-color 0.3s ease;
}

.input-field {
    margin-right: 20px;
}

.input-field:hover,
.select-field:hover {
    background-color: #f0f0f0;
}

.input-field:focus,
.select-field:focus {
    outline: none;
    background-color: #e0e0e0;
}

.apply-button,
.clear-button {
    height: 10%;
    padding: 15px 25px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    background-color: #00DFB0;
    color: #000005;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 37px;
}

.clear-button {
    background-color: #fff;
    border: 1px solid gray;
}

.apply-button:hover{
    background-color: #0097a7;
}
.clear-button:hover{
    background-color: #0097a7;
    border: 1px solid #0097a7;
}


/* Estilo para a tabela */
.table-container {
    width: 97%;
    margin-top: 20px;
    border-radius: 8px;
    overflow-x: auto;
    padding: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 8px;
    overflow: hidden;
    padding-right: 20px;
}

.data-table th,
.data-table td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.data-table th {
    background-color: #00DFB0;
    color: #fff;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.data-table tr:hover {
    background-color: #ddd;
}

/* Adicione estilos para o modal */
.modal {
    /* Centraliza o modal horizontalmente */
    display: flex;
    padding: 50px;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro para destacar o modal */
}

/* Estilos para o modal de adicionar novo usuário */
.modal-content {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Estilos para os inputs dentro do modal */
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

.form-group input[type="text"],
.form-group input[type="date"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Estilos para o botão dentro do modal */
.modal-content button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/* Estilos para o botão dentro do modal quando hover */
.modal-content button:hover {
    background-color: #0056b3; /* Cor do botão quando hover */
}


/* Estilos para o botão de editar */
.edit-button {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-right: 12px
}

/* Estilos para o botão de editar quando hover */
.edit-button:hover {
    background-color: #0056b3; /* Cor do botão de editar quando hover */
}

/* Estilos para o botão de excluir */
.delete-button {
    padding: 8px 16px;
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

/* Estilos para o botão de excluir quando hover */
.delete-button:hover {
    background-color: #c82333; /* Cor do botão de excluir quando hover */
}
